{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Iniciar sesión</h2>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    {{ form.username.label_tag }}
    {{ form.username }}
  </div>
  <div class="mb-3">
    {{ form.password.label_tag }}
    {{ form.password }}
  </div>
    <p><button type="submit" class="btn btn-primary">Entrar</button></p>
</form>
    <br>
    <p><a class="btn btn-warning" href="{% url 'password_reset' %}">Recuperar contraseña</a></p>
{% endblock %}