{% extends "base.html" %}

{% block content %}
    <style>
#ficha-jugador {
    display: flex;
    align-items: center;
}

#ficha-jugador img {
    margin-right: 10px; /* Ajusta el espacio entre la imagen y el texto */
}
.scrollable-list {
        max-height: 400px; /* Ajusta esta altura según tus necesidades */
        overflow-y: auto;
}

</style>
    <div class="row mt-3">
        <div class="col">
            <h2>{{ comunidad.nombre }}</h2>
            <p><i>Creada por {{ comunidad.creador.username }} el {{ comunidad.fecha_creacion }}</i></p>
        </div>
        <div class="col-sm-3">
            <img src="{% if comunidad.escudo %}
                                        {{ comunidad.escudo.url }}
                    {% else %}
                                            /static/modric/escudo.jpg
                    {% endif %}" style="max-height: 100px"></p>
        </div>
        <p><strong>Descripción:</strong> {{ comunidad.descripcion }}</p>
        {% if usuario in comunidad.administradores.all %}
            <p><a href="{% url 'modric:comunidad_editar' comunidad.pk %}">Editar detalles de la comunidad</a></p>
            <p><a href="{% url 'modric:solicitudes_todas' %}">Gestionar comunidad (Admitir o rechazar solicitudes)</a></p>
        {% endif %}
        
        {% if usuario not in comunidad.miembros.all %}
            {% if not pedida %}
                <p>¿Quieres formar parte de esta comunidad?</p>
                <a href="{% url 'modric:solicitar_membresia' comunidad.id %}">Solicitar membresía</a>
            {% else %}        
                <p>Ya has solicitado formar parte con anterioridad el {{ pedida }}.</p>
            {% endif %}
        {% endif %}
        
            
    </div>
    <hr>
<div class="row">
    <div class="col">
  <p><strong>Administradores:</strong></p>
    <div class="scrollable-list">
    {% for admin in comunidad.administradores.all|dictsort:"username" %}
      <div id="ficha-jugador" class="shadow-sm p-2 mb-2 bg-white">
            <div>
                <img class="card-img-top rounded" src="
                    {% if admin.foto %}
                        {{ admin.foto.url }}
                    {% else %}
                            /static/accounts/anonimo.jpg
                    {% endif %}
                " alt="Card image {{ admin.username }}"
                     style="width: 50px; height: 50px; object-fit: cover;">
            </div>
            <div class="ms-3">
                {{ admin }}
            </div>
      </div>
    {% endfor %}
    </div>
    </div>
    <div class="col">
  <p><strong>Miembros:</strong></p>
    <div class="scrollable-list">
    {% for miembro in comunidad.miembros.all|dictsort:"username" %}
        <div id="ficha-jugador" class="shadow-sm p-2 mb-2 bg-white">
            <div>
                <img class="card-img-top rounded" src="
                    {% if miembro.foto %}
                        {{ miembro.foto.url }}
                    {% else %}
                            /static/accounts/anonimo.jpg
                    {% endif %}
                " alt="Card image {{ miembro.username }}"
                     style="width: 50px; height: 50px; object-fit: cover;">
            </div>
            <div class="ms-3">
                {{ miembro }}
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
</div>
{#    {% if invitaciones %}#}
{#      <h3 class="mt-3">Invitaciones</h3>#}
{#      <ul>#}
{#        {% for invitacion in invitaciones %}#}
{#          <li>#}
{#            {{ invitacion.usuario.username }} - {{ invitacion.get_estado_display }} - {{ invitacion.fecha_invitacion }}#}
{#          </li>#}
{#        {% endfor %}#}
{#      </ul>#}
{#    {% endif %}#}
    
{% endblock %}