{% extends "base.html" %}

{% block content %}
  <h2 class="text-center">Mis comunidades</h2>
    <p class="text-center">Aquí puedes ver tus comunidades, gestionar solicitudes y buscar nuevas.</p>
    {% if comunidades %}
        {% for comunidad in comunidades %}
            <p><a href="{% url 'modric:detalle_comunidad' comunidad.pk %}">
                <img src="{% if comunidad.escudo %}
                                            {{ comunidad.escudo.url }}
                        {% else %}
                                                /static/modric/escudo.jpg
                        {% endif %}" style="max-height: 20px">
                {{ comunidad }}</a>
            {% if usuario in comunidad.administradores.all %}
                <a href="{% url 'modric:comunidad_editar' comunidad.pk %}"> (Editar)</a>
            {% endif %}
            </p>        
        {% endfor %}
        {% if invitaciones > 0 %}
            <p><a href="{% url 'modric:solicitudes_grupos' %}">Tiene {{ invitaciones }} solicitudes como administrador pendientes de contestar</a></p>
        {% else %}
            <p>No tiene solicitudes como administrador pendientes de contestar.</p>
        {% endif %}
        {% if personales > 0 %}
            <p><a href="{% url 'modric:solicitudes_personales' %}">Tiene {{ personales }} solicitudes personales pendientes de contestar</a></p>
        {% else %}
            <p>No tiene solicitudes como usuario pendientes de contestar.</p>
        {% endif %}
    {% endif %}
    <hr>
        <p>Busque alguna comunidad nueva <a class="btn btn-info" href="{% url 'modric:comunidad_buscar' %}">Buscar</a></p>
        <p>O cree la suya propia para usted y sus amigos <a class="btn btn-info" href="{% url 'modric:comunidad_crear' %}">Crear nueva comunidad</a></p>
{% endblock %}