{% extends 'base.html' %}
{% block content %}
    <h1>Detalle partido</h1>
    
    {% if partido %}
        {% if edicion == True %}
            <p><a href="{% url 'modric:editar_partido' partido.pk %}">Editar</a></p>
        {% endif %}
        
        <p>{{ partido.deporte }}</p>
        <p>{{ partido.fecha }}</p>
        <p>Duración {{ partido.duracion_personalizada }} minutos</p>  
        <p><a href="{% url 'modric:recinto' partido.recinto.pk %}">Recinto: {{ partido.recinto }}</a></p>
        <p>
            {% if partido.nombre_pista %}
            Número de pista: {{ partido.nombre_pista }}
            {% endif %}
        </p> 
        <p>
            {% if  partido.cubierto %}
                Pista cubierta.
            {% else %}
                Pista al aire libre.
            {% endif %}
        </p>
        <hr>
        {% if partido.creador %}
            <p>Creado por {{ partido.creador }}</p>
        {% endif %}
        {% if administradores %}
            <p>Organizador/es:</p>        
            {% for item in administradores %}
                <p>{{ item }}</p>    
            {% endfor %}
        {% else %}
            <p>Aún no hay administradores definidos para este partido.</p>
        {% endif %}
        <hr>
        
        <div class="card-group">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">
                    Equipo local
                {% if integrantes_local %}
                        ({{ integrantes_local|length }} / {{ partido.deporte.num_jugadores }})
                {% else %}
                        (0)
                {% endif %}
                </h4>
                <p class="card-text">
                    {% if integrantes_local %}       
                        {% for item in integrantes_local %}
                            <p>{{ item }}</p>    
                        {% endfor %}
                    {% else %}
                        <p>No hay jugadores asignados al equipo local.</p>
                    {% endif %}
                </p>
              </div>
            </div>
            
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">
                    Equipo visitante
                {% if integrantes_visitantes %}
                        ({{ integrantes_visitantes|length }} / {{ partido.deporte.num_jugadores }})
                {% else %}
                        (0)
                {% endif %}
                </h4>
                <p class="card-text">
                    {% if integrantes_visitantes %}      
                        {% for item in integrantes_visitantes %}
                            <p>{{ item }}</p>    
                        {% endfor %}
                    {% else %}
                        <p>No hay jugadores asignados al equipo visitante.</p>
                    {% endif %}
                </p>
              </div>
            </div>
        </div>
        
        <br>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
                Jugadores apuntados sin equipo
            {% if sinequipo %}
                    ({{ sinequipo|length }})
            {% else %}
                    (0)
            {% endif %}
            </h4>
            <p class="card-text">
                {% if sinequipo %}
                    {% for item in sinequipo %}
                        <p>{{ item }}</p>    
                    {% endfor %}
                {% else %}
                    <p>No hay jugadores sin equipo asignado.</p>
                {% endif %}
                </p>
          </div>
        </div>
        
        <hr>
    {% else %}
        <p>No hay ningún partido con ese identificador</p>
    {% endif %}
    <p><a href="{% url 'modric:buscar_partidos' %}">Volver a buscar partidos</a></p>
    <p><a href="{% url 'modric:ver_partidos' %}">Volver a lista de partidos</a></p>
    <p><a href="{% url 'modric:index' %}">Inicio</a></p>
{% endblock %}