{% extends "base.html" %}
{% block content %}
<H1>TFG UNIR - Encuentros de aficionados</H1>

    {% if user.is_authenticated %}
        <p>Bienvenido/a {{ user.get_username }}</p>
        <p><a href="{% url 'modric:crear_partido' %}">Crear partido</a></p>
        <p><a href="{% url 'modric:ver_partidos' %}">Ver partidos</a></p>
        <p><a href="{% url 'modric:importar_starwars' %}">Importar usuarios de star wars</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Iniciar sesión</a></p>
        <p><a href="{% url 'accounts:signup' %}">Registrarse</a></p>
    {% endif %}
{% endblock %}