<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>TFG Modric</title>
</head>
<body>
<H1>TFG UNIR - Encuentros de aficionados</H1>
<p>Bienvenido/a</p>
    {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'modric:logout' %}">Cerrar sesión</a></li>
   {% endif %}
  </ul>

<p><a href="{% url 'modric:login' %}">Iniciar sesión</a></p>
<p><a href="{% url 'modric:registro' %}">Registrarse</a></p>
</body>
<footer>
    <p>UNIR</p>
    <p>Trabajo de Fin de Grado</p>
    <p>Miwe 2024</p>
</footer>
</html>