{% extends 'base.html' %}
{% block content %}
    <h1>Listar partidos</h1>
    <p>Estos son todos los partidos de {{ usuario.username }}.</p>
    {% if partidos_hoy %}
        <H4>Partidos hoy:</H4>
        {% for item in partidos_hoy %}
            <p>
                <a href="{% url 'modric:detalle_partido' item.id %}">
                    {{ item.fecha }} - {{ item.deporte }} - {{ item.recinto }}
                </a>
            </p>
        {% endfor %}
    {% else %}
        <H4>No tiene partidos hoy.</H4>
    {% endif %}
    <hr>    
    {% if partidos_futuros %}
        <H4>Próximos partidos:</H4>
        {% for item in partidos_futuros %}
            <p>
            <a href="{% url 'modric:detalle_partido' item.id %}">
                {{ item.fecha }} - {{ item.deporte }} - {{ item.recinto }}
            </a>
            </p>
        {% endfor %}
    {% else %}
        <p>No tiene partidos previstos</p>
    {% endif %}
    <hr>
    {% if partidos_anteriores %}
        <H4>Partidos anteriores:</H4>
        {% for item in partidos_anteriores %}
             <p>
            <a href="{% url 'modric:detalle_partido' item.id %}">
                {{ item.fecha }} - {{ item.deporte }} - {{ item.recinto }}
            </a>
            </p>
        {% endfor %}
    {% else %}
        <p>Aún no tiene partidos disputados.</p>
    {% endif %}
    
    <a href="{% url 'modric:index' %}">Volver</a>
{% endblock %}