{% extends "base.html" %}

{% block content %}
  <h2>Manejar solicitudes</h2>
  <ul>
    {% for invitacion in invitaciones %}
      <li>
        {{ invitacion.usuario.username }} - {{ invitacion.comunidad.nombre }}
        <form method="post" style="display:inline;">
          {% csrf_token %}
          <input type="hidden" name="invitacion_id" value="{{ invitacion.id }}">
          <button type="submit" name="action" value="aceptar">Aceptar</button>
          <button type="submit" name="action" value="rechazar">Rechazar</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
