{% extends 'base.html' %}
{% block content %}
<h1>{% if form.instance.pk %}Editar Recinto{% else %}Crear Recinto{% endif %}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
        {{ form.nombre.label_tag }} {{ form.nombre }}
        {{ form.nombre.errors }}
    </div>
    <div class="mb-3">
        {{ form.calle.label_tag }} {{ form.calle }}
        {{ form.calle.errors }}
    </div>
    <div class="mb-3">
        {{ form.municipio.label_tag }} {{ form.municipio }}
        {{ form.municipio.errors }}
    </div>
    <div class="mb-3">
        {{ form.provincia.label_tag }} {{ form.provincia }}
        {{ form.provincia.errors }}
    </div>
    <div class="mb-3">
        {{ form.pais.label_tag }} {{ form.pais }}
        {{ form.pais.errors }}
    </div>
    <div class="mb-3">
        {{ form.deportes.label_tag }} {{ form.deportes }}
        {{ form.deportes.errors }}
    </div>
    <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Guardar cambios{% else %}Crear recinto{% endif %}</button>
    <a href="{% url 'modric:ver_partidos' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
