{% extends 'base.html' %}
{% block content %}
<h2>Editar Perfil</h2>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="input-group col-md">
        <span class="input-group-text">@</span>{{ form.username }}
        {{ form.username.errors }}
    </div>
    <div class="input-group col-md">
        <span class="input-group-text">{{ form.email.label_tag }}</span>
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            {{ form.altura.label_tag }}
            {{ form.altura }}
            {{ form.altura.errors }}
        </div>
        <div class="col-md-4">
            {{ form.fecha_nac.label_tag }}
            {{ form.fecha_nac }}
            {{ form.fecha_nac.errors }}
        </div>
        <div class="col-md-4">
            {{ form.sexo.label_tag }}
            {{ form.sexo }}
            {{ form.sexo.errors }}
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-info">Guardar cambios</button>
    <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'accounts:perfil' %}'">Cancelar cambios</button>
</form>
{% endblock %}