{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Ver Perfil</h2>
    <div class="row">
    <div class="col-sm-4">
    <div class="card  text-center" style="width:200px">
      <img class="card-img-top" src="{% if usuario.foto %}
                                        {{ usuario.foto.url }}
                                    {% else %}
                                            /static/accounts/anonimo.jpg
                                    {% endif %}" alt="Card image {{ usuario.username }}">
      <div class="card-body">
          <h4 class="card-title">{{ usuario.username }}</h4>
          <p class="card-text">{{ usuario.email }}</p>
          <p class="card-text">{{ usuario.get_sexo_display }}</p>
          <p class="card-text">{{ usuario.altura }} cm.</p>
          <p class="card-text">{{ usuario.fecha_nac|date:"Y" }}</p>
          <a href="{% url 'accounts:editar_perfil' %}" class="btn btn-primary ">Editar perfil</a>
      </div>
    </div>
    </div>
    <div class="col-sm-8">
        <h2>Estadísticas</h2>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Deporte</th>
                <th class="text-center">Ganados</th>
                <th class="text-center">Empatados</th>
                <th class="text-center">Perdidos</th>
                <th class="text-center">% Ganados</th>
                <th class="text-center">% Empatados</th>
                <th class="text-center">% Perdidos</th>
            </tr>
        </thead>
        <tbody>
            {% for deporte, stats in estadisticas.items %}
                <tr>
                    <td>{{ deporte.nombre }}</td>
                    <td class="text-center">{{ stats.ganados }}</td>
                    <td class="text-center">{{ stats.empatados }}</td>
                    <td class="text-center">{{ stats.perdidos }}</td>
                    <td class="text-center">{{ stats.porcentaje_ganados|floatformat:2 }}%</td>
                    <td class="text-center">{{ stats.porcentaje_empatados|floatformat:2 }}%</td>
                    <td class="text-center">{{ stats.porcentaje_perdidos|floatformat:2 }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    <hr>
    <div>
        <h2>Mis comunidades</h2>
        <ul>
        {% for comunidad in comunidades %}
          <li>
          <a href="{% url 'modric:detalle_comunidad' comunidad.pk %}">{{ comunidad }}</a>
          </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}