{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center">Ver Perfil</h1>
    <div class="row">
    <div class="col-sm-4">
    <div class="card  text-center" style="width:300px">
      <img class="card-img-top" src="{% if usuario.foto %}
                                        {{ usuario.foto.url }}
                                    {% else %}
                                            /static/accounts/anonimo.jpg
                                    {% endif %}" alt="Card image {{ usuario.username }}">
      <div class="card-body">
          <h4 class="card-title">{{ usuario.username }}</h4>
          <p class="card-text">{{ usuario.email }}</p>
          <p class="card-text">{{ usuario.get_sexo_display }}</p>
          <p class="card-text">{{ usuario.altura }} cm.</p>
          <p class="card-text">{{ usuario.fecha_nac|date:"Y" }}</p>
          <a href="{% url 'accounts:editar_perfil' %}" class="btn btn-primary ">Editar perfil</a>
      </div>
    </div>
    </div>
    <div class="col-sm-8">
        <h3>Estadísticas</h3>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Deporte</th>
                <th class="text-center">Ganados</th>
                <th class="text-center">Empatados</th>
                <th class="text-center">Perdidos</th>
                <th class="text-center">% Ganados</th>
                <th class="text-center">% Empatados</th>
                <th class="text-center">% Perdidos</th>
            </tr>
        </thead>
        <tbody>
            {% for deporte, stats in estadisticas.items %}
                <tr>
                    <td>{{ deporte.nombre }}</td>
                    <td class="text-center">{{ stats.ganados }}</td>
                    <td class="text-center">{{ stats.empatados }}</td>
                    <td class="text-center">{{ stats.perdidos }}</td>
                    <td class="text-center">{{ stats.porcentaje_ganados|floatformat:2 }}%</td>
                    <td class="text-center">{{ stats.porcentaje_empatados|floatformat:2 }}%</td>
                    <td class="text-center">{{ stats.porcentaje_perdidos|floatformat:2 }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h3>Mis comunidades</h3>
            <ul>
            {% for comunidad in comunidades %}
              <p>
              <img src="{% if comunidad.escudo %}
                                            {{ comunidad.escudo.url }}
                        {% else %}
                                                /static/modric/escudo.jpg
                        {% endif %}" style="max-height: 20px">
              <a href="{% url 'modric:detalle_comunidad' comunidad.pk %}">{{ comunidad }}</a>
              {% if usuario in comunidad.administradores.all %}
                  <a href="{% url 'modric:comunidad_editar' comunidad.pk %}"> (Editar)</a>
              {% endif %}
              </p>
            {% endfor %}
            </ul>
        </div>
        <div class="col">
            <H3>Notificaciones</H3>
            <ul>
                {% for notificacion in notificaciones %}
                  <li {% if not notificacion.leido %} style="font-weight: bold;" {% endif %}>
                    {{ notificacion.mensaje }} - {{ notificacion.fecha_notificacion }}
                    {% if not notificacion.leido %}
                      <form method="post" action="{% url 'modric:notificaciones' %}" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="notificacion_id" value="{{ notificacion.id }}">
                        <button class="btn btn-primary" type="submit">Marcar como leída</button>
                      </form>
                    {% endif %}
                  </li>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}