{% extends "base.html" %}
{% load static %}
{% block title %}TFG UNIR 2024{% endblock %}

{% block content %}
<div style="background-image: url('{% static 'modric/inicio.jpg' %}');
                                                background-repeat: no-repeat;
                                                max-height: 800px;">
    <div class="d-flex align-items-center">
        <div class="mt-5">
        <h1>TFG UNIR - Encuentros de aficionados</h1></div>
        <div class="mt-4">
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg m-2">Iniciar sesión</a>
            <a href="{% url 'accounts:registro' %}" class="btn btn-outline-primary btn-lg m-2">Registrarse</a>
        </div>
    </div>
</div>
{% endblock %}